button {
    color: $color-navs;
    background-color: $bg-color-header;
    border: $border;
    border-radius: $border-rad;
    margin: $margin;
    padding:$padding;
    font-family: $font-special;
    font-size: $font-xs;

}

button:hover {
    color: $color-hover;
    border: $border-hover;
    text-decoration: underline;
}
