footer {
    ul {
        list-style: none;
        margin:$margin;
    }
        li {
        float:right;
        padding: $padding;
        }
        a {
            font-size: $font-xs;
            display: block;
            padding: 6px 12px;
            color: $color-links;
        }
        a:hover {
            color: $color-hover;
            text-decoration: underline;
        }
}


